<div>
  <h2 id="page-heading" data-cy="CountryHeading">
    <span>Countries</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-country"
        [routerLink]="['/country/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Country </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="countries?.length === 0">
    <span>No countries found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="countries && countries.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="countryName"><span>Country Name</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="countryCode"><span>Country Code</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="callingCode"><span>Calling Code</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="subRegion"><span>Sub Region</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="region"><span>Region</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="population"><span>Population</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="timeZone"><span>Time Zone</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="numericCode"><span>Numeric Code</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="applicant.surname"><span>Applicant</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let country of countries; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/country', country.id, 'view']">{{ country.id }}</a>
          </td>
          <td>{{ country.countryName }}</td>
          <td>{{ country.countryCode }}</td>
          <td>{{ country.callingCode }}</td>
          <td>{{ country.subRegion }}</td>
          <td>{{ country.region }}</td>
          <td>{{ country.population }}</td>
          <td>{{ country.timeZone }}</td>
          <td>{{ country.numericCode }}</td>
          <td>
            <div *ngIf="country.applicant">
              <a [routerLink]="['/applicant', country.applicant?.id, 'view']">{{ country.applicant?.surname }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/country', country.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/country', country.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(country)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="countries && countries.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
