<div class="row bg-light">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-md-12 mt-5 pt-5">
        <div class="row z-depth-3">
          <div class="col-sm-4 bg-info rounded-left">
            <div class="card-block text-center text-white">
              <div *ngIf="demographicDetails" class="col-md-4 mt-5" style="margin: 0 auto">
                <div *ngIf="demographicDetails.image">
                  <a (click)="openFile(demographicDetails.image, demographicDetails.imageContentType)">
                    <img
                      [src]="'data:' + demographicDetails.imageContentType + ';base64,' + demographicDetails.image"
                      style="max-width: 100%"
                      alt="demographicDetails image"
                    />
                  </a>
                </div>
              </div>
              <i class="fas fa-user-tie fa-7x mt-5"></i>
              <h4 *ngIf="applicant" class="font-weight-bold mt-4">{{ applicant.surname }}</h4>
              <p *ngIf="demographicDetails">{{ demographicDetails.profession }}</p>
              <i class="far fa-edit fa2x mb-4"></i>
            </div>
            <ul class="list-group text-white mb-3">
              <li class="list-group-item list-group-item-info">
                <a data-cy="entityCreateButton" [routerLink]="['/declaration/new']">Declaration</a>
              </li>
              <li class="list-group-item list-group-item-success"><a href="#">Bookings</a></li>
              <li class="list-group-item list-group-item-danger">
                <a data-cy="entityCreateButton" [routerLink]="['/address/new']">Addresses</a>
              </li>
              <li class="list-group-item list-group-item-info">
                <a data-cy="entityCreateButton" [routerLink]="['/appointment-slot/new']">Appointment Slots</a>
              </li>
              <li class="list-group-item list-group-item-success"><a href="#">Bookings</a></li>
            </ul>
          </div>
          <div *ngIf="applicant" class="col-sm-8 bg-white rounded-right">
            <h3 class="mt-3 text-center">Information</h3>
            <hr class="badge-primary mt-0 w-25" />
            <div class="row">
              <div class="col-sm-6">
                <p class="font-weight-bold">Surname</p>
                <h6 class="text-muted">{{ applicant.surname }}</h6>
              </div>
              <div class="col-sm-6">
                <p class="font-weight-bold">Other Names</p>
                <h6 class="text-muted">{{ applicant.otherNames }}</h6>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <p class="font-weight-bold">Maiden Name</p>
                <h6 class="text-muted">{{ applicant.maidenName }}</h6>
              </div>
              <div class="col-sm-6">
                <p class="font-weight-bold">Marital Status</p>
                <h6 class="text-muted">{{ applicant.changedName }}</h6>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <p class="font-weight-bold">Gender</p>
                <h6 class="text-muted">{{ applicant.gender }}</h6>
              </div>
              <div class="col-sm-6">
                <p class="font-weight-bold">Marital Status</p>
                <h6 class="text-muted">{{ applicant.maritalStatus }}</h6>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <p class="font-weight-bold">Date Of Birth</p>
                <h6 class="text-muted">{{ applicant.dateOfBirth | formatMediumDate }}</h6>
              </div>
              <div class="col-sm-6">
                <p class="font-weight-bold">Id Number</p>
                <h6 class="text-muted">{{ applicant.idNumber }}</h6>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <p class="font-weight-bold">Birth Entry Number</p>
                <h6 class="text-muted">{{ applicant.birthEntryNumber }}</h6>
              </div>
            </div>
            <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
              <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button" [routerLink]="['/applicant', applicant.id, 'edit']" class="btn btn-primary">
              <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
            <h4 class="mt-3">Other Information</h4>
            <hr class="badge-primary" />
            <div *ngIf="demographicDetails">
              <div class="row">
                <div class="col-sm-6">
                  <p class="font-weight-bold">Eye Color</p>
                  <h6 class="text-muted">{{ demographicDetails.eyeColor }}</h6>
                </div>
                <div class="col-sm-6">
                  <p class="font-weight-bold">Hair Color</p>
                  <h6 class="text-muted">{{ demographicDetails.hairColor }}</h6>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <p class="font-weight-bold">Visible Marks</p>
                  <h6 class="text-muted">{{ demographicDetails.visibleMarks }}</h6>
                </div>
                <div class="col-sm-6">
                  <p class="font-weight-bold">Profession</p>
                  <h6 class="text-muted">{{ demographicDetails.profession }}</h6>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <p class="font-weight-bold">Place Of Birth</p>
                  <h6 class="text-muted">{{ demographicDetails.placeOfBirth }}</h6>
                </div>
              </div>
              <button type="submit" (click)="previousState()" class="btn btn-info mb-3" data-cy="entityDetailsBackButton">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
              </button>

              <button type="button" [routerLink]="['/demographic-details', demographicDetails.id, 'edit']" class="btn btn-primary mb-3">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 mb-5 pt-5">
        <div class="row z-depth-3">
          <div *ngIf="nextOfKeen" class="col-sm-12 bg-white rounded-right">
            <h3 class="mt-3">Next Of Keen</h3>
            <hr class="badge-primary" />
            <div class="row">
              <div class="col-sm-6">
                <p class="font-weight-bold">Full Name</p>
                <h6 class="text-muted">{{ nextOfKeen.fullName }}</h6>
              </div>
              <div class="col-sm-6">
                <p class="font-weight-bold">Relationship To Applicant</p>
                <h6 class="text-muted">{{ nextOfKeen.relationshipToApplicant }}</h6>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <p class="font-weight-bold">Applicant</p>
                <div *ngIf="nextOfKeen.applicant">
                  <a [routerLink]="['/applicant', nextOfKeen.applicant?.id, 'view']">{{ nextOfKeen.applicant?.surname }}</a>
                </div>
              </div>
              <div class="col-sm-6">
                <p class="font-weight-bold">Address</p>
                <div *ngIf="nextOfKeen.address">
                  <a [routerLink]="['/address', nextOfKeen.address?.id, 'view']">{{ nextOfKeen.address?.city }}</a>
                </div>
              </div>
            </div>
            <div class="row justify-content-end mr-3 mb-3">
              <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
              </button>

              <button type="button" [routerLink]="['/next-of-keen', nextOfKeen.id, 'edit']" class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
