<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-next-of-keen-heading" data-cy="NextOfKeenCreateUpdateHeading">Create or edit a Next Of Keen</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_fullName">Full Name</label>
          <input type="text" class="form-control" name="fullName" id="field_fullName" data-cy="fullName" formControlName="fullName" />
          <div *ngIf="editForm.get('fullName')!.invalid && (editForm.get('fullName')!.dirty || editForm.get('fullName')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('fullName')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_relationshipToApplicant">Relationship To Applicant</label>
          <input
            type="text"
            class="form-control"
            name="relationshipToApplicant"
            id="field_relationshipToApplicant"
            data-cy="relationshipToApplicant"
            formControlName="relationshipToApplicant"
          />
          <div
            *ngIf="
              editForm.get('relationshipToApplicant')!.invalid &&
              (editForm.get('relationshipToApplicant')!.dirty || editForm.get('relationshipToApplicant')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('relationshipToApplicant')?.errors?.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_applicant">Applicant</label>
          <select class="form-control" id="field_applicant" data-cy="applicant" name="applicant" formControlName="applicant">
            <option *ngIf="editForm.get(['applicant'])!.value == null" [ngValue]="null" selected></option>
            <option
              [ngValue]="applicantOption.id === editForm.get('applicant')!.value?.id ? editForm.get('applicant')!.value : applicantOption"
              *ngFor="let applicantOption of applicantsCollection; trackBy: trackApplicantById"
            >
              {{ applicantOption.surname }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['applicant'])!.invalid && (editForm.get(['applicant'])!.dirty || editForm.get(['applicant'])!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get(['applicant'])?.errors?.required"> This field is required. </small>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_address">Address</label>
          <select class="form-control" id="field_address" data-cy="address" name="address" formControlName="address">
            <option *ngIf="editForm.get(['address'])!.value == null" [ngValue]="null" selected></option>
            <option
              [ngValue]="addressOption.id === editForm.get('address')!.value?.id ? editForm.get('address')!.value : addressOption"
              *ngFor="let addressOption of addressesCollection; trackBy: trackAddressById"
            >
              {{ addressOption.city }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['address'])!.invalid && (editForm.get(['address'])!.dirty || editForm.get(['address'])!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get(['address'])?.errors?.required"> This field is required. </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
