<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-appointment-settings-heading" data-cy="AppointmentSettingsCreateUpdateHeading">Create or edit a Appointment Settings</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_maxOrdinaryAppointments">Max Ordinary Appointments</label>
          <input
            type="number"
            class="form-control"
            name="maxOrdinaryAppointments"
            id="field_maxOrdinaryAppointments"
            data-cy="maxOrdinaryAppointments"
            formControlName="maxOrdinaryAppointments"
          />
          <div
            *ngIf="
              editForm.get('maxOrdinaryAppointments')!.invalid &&
              (editForm.get('maxOrdinaryAppointments')!.dirty || editForm.get('maxOrdinaryAppointments')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('maxOrdinaryAppointments')?.errors?.required">
              This field is required.
            </small>
            <small class="form-text text-danger" *ngIf="editForm.get('maxOrdinaryAppointments')?.errors?.min">
              This field should be at least 0.
            </small>
            <small class="form-text text-danger" *ngIf="editForm.get('maxOrdinaryAppointments')?.errors?.max">
              This field cannot be more than 1000.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('maxOrdinaryAppointments')?.errors?.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_maxEmergencyAppointments">Max Emergency Appointments</label>
          <input
            type="number"
            class="form-control"
            name="maxEmergencyAppointments"
            id="field_maxEmergencyAppointments"
            data-cy="maxEmergencyAppointments"
            formControlName="maxEmergencyAppointments"
          />
          <div
            *ngIf="
              editForm.get('maxEmergencyAppointments')!.invalid &&
              (editForm.get('maxEmergencyAppointments')!.dirty || editForm.get('maxEmergencyAppointments')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('maxEmergencyAppointments')?.errors?.required">
              This field is required.
            </small>
            <small class="form-text text-danger" *ngIf="editForm.get('maxEmergencyAppointments')?.errors?.min">
              This field should be at least 0.
            </small>
            <small class="form-text text-danger" *ngIf="editForm.get('maxEmergencyAppointments')?.errors?.max">
              This field cannot be more than 1000.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('maxEmergencyAppointments')?.errors?.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_startingWorkTime">Starting Work Time</label>
          <input
            type="number"
            class="form-control"
            name="startingWorkTime"
            id="field_startingWorkTime"
            data-cy="startingWorkTime"
            formControlName="startingWorkTime"
          />
          <div
            *ngIf="
              editForm.get('startingWorkTime')!.invalid &&
              (editForm.get('startingWorkTime')!.dirty || editForm.get('startingWorkTime')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('startingWorkTime')?.errors?.required">
              This field is required.
            </small>
            <small class="form-text text-danger" *ngIf="editForm.get('startingWorkTime')?.errors?.min">
              This field should be at least 0.
            </small>
            <small class="form-text text-danger" *ngIf="editForm.get('startingWorkTime')?.errors?.max">
              This field cannot be more than 23.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('startingWorkTime')?.errors?.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_endingWorkTime">Ending Work Time</label>
          <input
            type="number"
            class="form-control"
            name="endingWorkTime"
            id="field_endingWorkTime"
            data-cy="endingWorkTime"
            formControlName="endingWorkTime"
          />
          <div
            *ngIf="
              editForm.get('endingWorkTime')!.invalid && (editForm.get('endingWorkTime')!.dirty || editForm.get('endingWorkTime')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('endingWorkTime')?.errors?.required"> This field is required. </small>
            <small class="form-text text-danger" *ngIf="editForm.get('endingWorkTime')?.errors?.min">
              This field should be at least 0.
            </small>
            <small class="form-text text-danger" *ngIf="editForm.get('endingWorkTime')?.errors?.max">
              This field cannot be more than 23.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('endingWorkTime')?.errors?.number">
              This field should be a number.
            </small>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
