<div>
  <h2 id="page-heading" data-cy="NextOfKeenHeading">
    <span>Next Of Keens</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-next-of-keen"
        [routerLink]="['/next-of-keen/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Next Of Keen </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="nextOfKeens?.length === 0">
    <span>No nextOfKeens found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="nextOfKeens && nextOfKeens.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="fullName"><span>Full Name</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="relationshipToApplicant"><span>Relationship To Applicant</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="applicant.surname"><span>Applicant</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="address.city"><span>Address</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let nextOfKeen of nextOfKeens; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/next-of-keen', nextOfKeen.id, 'view']">{{ nextOfKeen.id }}</a>
          </td>
          <td>{{ nextOfKeen.fullName }}</td>
          <td>{{ nextOfKeen.relationshipToApplicant }}</td>
          <td>
            <div *ngIf="nextOfKeen.applicant">
              <a [routerLink]="['/applicant', nextOfKeen.applicant?.id, 'view']">{{ nextOfKeen.applicant?.surname }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="nextOfKeen.address">
              <a [routerLink]="['/address', nextOfKeen.address?.id, 'view']">{{ nextOfKeen.address?.city }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/next-of-keen', nextOfKeen.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/next-of-keen', nextOfKeen.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(nextOfKeen)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="nextOfKeens && nextOfKeens.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
