<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="nextOfKeen">
      <h2 data-cy="nextOfKeenDetailsHeading"><span>Next Of Keen</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ nextOfKeen.id }}</span>
        </dd>
        <dt><span>Full Name</span></dt>
        <dd>
          <span>{{ nextOfKeen.fullName }}</span>
        </dd>
        <dt><span>Relationship To Applicant</span></dt>
        <dd>
          <span>{{ nextOfKeen.relationshipToApplicant }}</span>
        </dd>
        <dt><span>Applicant</span></dt>
        <dd>
          <div *ngIf="nextOfKeen.applicant">
            <a [routerLink]="['/applicant', nextOfKeen.applicant?.id, 'view']">{{ nextOfKeen.applicant?.surname }}</a>
          </div>
        </dd>
        <dt><span>Address</span></dt>
        <dd>
          <div *ngIf="nextOfKeen.address">
            <a [routerLink]="['/address', nextOfKeen.address?.id, 'view']">{{ nextOfKeen.address?.city }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/next-of-keen', nextOfKeen.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
