<div>
  <h2 id="page-heading" data-cy="AppointmentSlotHeading">
    <span>Appointment Slots</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-appointment-slot"
        [routerLink]="['/appointment-slot/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Appointment Slot </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="appointmentSlots?.length === 0">
    <span>No appointmentSlots found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="appointmentSlots && appointmentSlots.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="timeOfAppointment"><span>Time Of Appointment</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="available"><span>Available</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="maxAppointments"><span>Max Appointments</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="appointment.id"><span>Appointment</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let appointmentSlot of appointmentSlots; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/appointment-slot', appointmentSlot.id, 'view']">{{ appointmentSlot.id }}</a>
          </td>
          <td>{{ appointmentSlot.timeOfAppointment | formatMediumDatetime }}</td>
          <td>{{ appointmentSlot.available }}</td>
          <td>{{ appointmentSlot.maxAppointments }}</td>
          <td>
            <div *ngIf="appointmentSlot.appointment">
              <a [routerLink]="['/appointment', appointmentSlot.appointment?.id, 'view']">{{ appointmentSlot.appointment?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/appointment-slot', appointmentSlot.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/appointment-slot', appointmentSlot.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(appointmentSlot)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="appointmentSlots && appointmentSlots.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
