<div>
  <h2 id="page-heading" data-cy="DeclarationHeading">
    <span>Declarations</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-declaration"
        [routerLink]="['/declaration/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Declaration </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="declarations?.length === 0">
    <span>No declarations found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="declarations && declarations.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="citizen"><span>Citizen</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="passport"><span>Passport</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="foreignPassport"><span>Foreign Passport</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="passportNumber"><span>Passport Number</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="renouncedCitizenship"><span>Renounced Citizenship</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="passportSurrendered"><span>Passport Surrendered</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="foreignPassportNumber"><span>Foreign Passport Number</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let declaration of declarations; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/declaration', declaration.id, 'view']">{{ declaration.id }}</a>
          </td>
          <td>{{ declaration.citizen }}</td>
          <td>{{ declaration.passport }}</td>
          <td>{{ declaration.foreignPassport }}</td>
          <td>{{ declaration.passportNumber }}</td>
          <td>{{ declaration.renouncedCitizenship }}</td>
          <td>{{ declaration.passportSurrendered }}</td>
          <td>{{ declaration.foreignPassportNumber }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/declaration', declaration.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/declaration', declaration.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(declaration)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="declarations && declarations.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
