<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="country">
      <h2 data-cy="countryDetailsHeading"><span>Country</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ country.id }}</span>
        </dd>
        <dt><span>Country Name</span></dt>
        <dd>
          <span>{{ country.countryName }}</span>
        </dd>
        <dt><span>Country Code</span></dt>
        <dd>
          <span>{{ country.countryCode }}</span>
        </dd>
        <dt><span>Calling Code</span></dt>
        <dd>
          <span>{{ country.callingCode }}</span>
        </dd>
        <dt><span>Sub Region</span></dt>
        <dd>
          <span>{{ country.subRegion }}</span>
        </dd>
        <dt><span>Region</span></dt>
        <dd>
          <span>{{ country.region }}</span>
        </dd>
        <dt><span>Population</span></dt>
        <dd>
          <span>{{ country.population }}</span>
        </dd>
        <dt><span>Time Zone</span></dt>
        <dd>
          <span>{{ country.timeZone }}</span>
        </dd>
        <dt><span>Numeric Code</span></dt>
        <dd>
          <span>{{ country.numericCode }}</span>
        </dd>
        <dt><span>Applicant</span></dt>
        <dd>
          <div *ngIf="country.applicant">
            <a [routerLink]="['/applicant', country.applicant?.id, 'view']">{{ country.applicant?.surname }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/country', country.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
