<div>
  <h2 id="page-heading" data-cy="ApplicantHeading">
    <span>Applicants</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-applicant"
        [routerLink]="['/applicant/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Applicant </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="applicants?.length === 0">
    <span>No applicants found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="applicants && applicants.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="surname"><span>Surname</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="otherNames"><span>Other Names</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="maidenName"><span>Maiden Name</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="changedName"><span>Changed Name</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="gender"><span>Gender</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="maritalStatus"><span>Marital Status</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="dateOfBirth"><span>Date Of Birth</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="idNumber"><span>Id Number</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="birthEntryNumber"><span>Birth Entry Number</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="democraphicDetails.profession"><span>Democraphic Details</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="declaration.passportNumber"><span>Declaration</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="guardian.fullName"><span>Guardian</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="user.login"><span>User</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="appointmentSlot.timeOfAppointment"><span>Appointment Slot</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let applicant of applicants; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/applicant', applicant.id, 'view']">{{ applicant.id }}</a>
          </td>
          <td>{{ applicant.surname }}</td>
          <td>{{ applicant.otherNames }}</td>
          <td>{{ applicant.maidenName }}</td>
          <td>{{ applicant.changedName }}</td>
          <td>{{ applicant.gender }}</td>
          <td>{{ applicant.maritalStatus }}</td>
          <td>{{ applicant.dateOfBirth | formatMediumDate }}</td>
          <td>{{ applicant.idNumber }}</td>
          <td>{{ applicant.birthEntryNumber }}</td>
          <td>
            <div *ngIf="applicant.democraphicDetails">
              <a [routerLink]="['/demographic-details', applicant.democraphicDetails?.id, 'view']">{{
                applicant.democraphicDetails?.profession
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="applicant.declaration">
              <a [routerLink]="['/declaration', applicant.declaration?.id, 'view']">{{ applicant.declaration?.passportNumber }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="applicant.guardian">
              <a [routerLink]="['/guardian', applicant.guardian?.id, 'view']">{{ applicant.guardian?.fullName }}</a>
            </div>
          </td>
          <td>
            {{ applicant.user?.login }}
          </td>
          <td>
            <div *ngIf="applicant.appointmentSlot">
              <a [routerLink]="['/appointment-slot', applicant.appointmentSlot?.id, 'view']">{{
                applicant.appointmentSlot?.timeOfAppointment
              }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/applicant', applicant.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/applicant', applicant.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(applicant)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="applicants && applicants.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
