<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="appointmentSlot">
      <h2 data-cy="appointmentSlotDetailsHeading"><span>Appointment Slot</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ appointmentSlot.id }}</span>
        </dd>
        <dt><span>Time Of Appointment</span></dt>
        <dd>
          <span>{{ appointmentSlot.timeOfAppointment | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Available</span></dt>
        <dd>
          <span>{{ appointmentSlot.available }}</span>
        </dd>
        <dt><span>Max Appointments</span></dt>
        <dd>
          <span>{{ appointmentSlot.maxAppointments }}</span>
        </dd>
        <dt><span>Appointment</span></dt>
        <dd>
          <div *ngIf="appointmentSlot.appointment">
            <a [routerLink]="['/appointment', appointmentSlot.appointment?.id, 'view']">{{ appointmentSlot.appointment?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/appointment-slot', appointmentSlot.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
